<div class="list-row-container">
    <div class="subscription-detail-container">
        <div class="title-container">
            <a
                href="https://youtube.com/channel/{{
                    subscription.snippet.resourceId.channelId
                }}"
                target="_blank"
                rel="noopener"
                ><img src="{{ subscription.snippet.thumbnails.default.url }}"
            /></a>
            <a
                href="https://youtube.com/channel/{{
                    subscription.snippet.resourceId.channelId
                }}"
                target="_blank"
                rel="noopener"
                >{{ subscription.snippet.title }}</a
            >
            <!-- {{ last_activity }} -->
        </div>
        <div class="description-container">
            {{ subscription.snippet.description }}
        </div>
    </div>
    <div class="controls-container">
        <select
            name="add_category"
            js-channel-id="{{ subscription.snippet.resourceId.channelId }}"
            js-data-src="categories"
            style="margin-top: 10px; margin-bottom: 5px"
        >
            <option disabled selected>-- Select a Category --</option>
        </select>
        <button name="category_submit">Update Categories</button>
    </div>
    <!-- {{subscription.snippet.resourceId.channelId}} -->

    {% if play_list_items %}
    <div
        class="formatted-list video-list"
        id="js-video-list-{{ subscription.snippet.resourceId.channelId }}"
    >
        {% for video in play_list_items.0.items %}
        <div>
            <a
                href="https://youtube.com/watch?v={{
                    video.snippet.resourceId.videoId
                }}"
                target="_blank"
                rel="noopener"
                ><img src="{{ video.snippet.thumbnails.default.url }}"
            /></a>
            <div class="video-title">
                <a
                    href="https://youtube.com/watch?v={{
                        video.snippet.resourceId.videoId
                    }}"
                    target="_blank"
                    rel="noopener"
                    >{{ video.snippet.title }}</a
                >
            </div>
            <div class="video-publish-date">
                {{ video.snippet.publishedAt|date('m/d/Y') }}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
