{{ include("header.twig") }}
<div class="main-container">
    <div class="header-container">
        <h1>YouTube Subscriptions</h1>
        <select
            name="category_select"
            style="width: 200px; margin-bottom: 10px"
            js-data-src="categories"
        >
            <option disabled selected>Select a Category Filter</option>
            <option value="NO_FILTER">No Filter</option>
            <option value="UNCATEGORIZED">Uncategorized</option>
        </select>
    </div>
    <ul class="pagination-list">
        {% for i in 1..pagination.num_pages %}
        <li>
            <a href="?offset={{ (i - 1) * pagination.limit }}">{{ i }}</a>
        </li>
        {% endfor %}
    </ul>

    {% for set in grouped_channel_sets %} {% if set.category.categoryID == 0 %}
    <h2>Uncategorized</h2>
    {% else %}
    <h2>{{ set.category.categoryTitle }}</h2>
    {% endif %}
    <div class="channel-count-container">
        {{ set.items | length }} Channels
    </div>

    <div class="list-container">
        {% for channel_set in set.items %}
        {{
            include("channel_row.twig", {
                subscription: channel_set.subscription,
                channel: channel_set.channel,
                play_list_items: channel_set.play_list_items,
                last_activity: channel_set.last_activity
            })
        }}
        {% endfor %}
    </div>
    {% endfor %}
</div>

{{ include("footer.twig") }}
