<li>
    <div>
        URL: {{ channel.snippet.customUrl }}<br />
        <a
            href="https://youtube.com/c/{{ channel.snippet.customUrl }}"
            target="_blank"
            rel="noopener"
            ><img src="{{ subscription.snippet.thumbnails.default.url }}"
        /></a>
        <a href="https://youtube.com/c/{{ channel.snippet.customUrl }}">{{
            subscription.snippet.title
        }}</a>
        ({{ last_activity }})
    </div>
    <div>
        {{ subscription.snippet.description }}
    </div>
    <div>
        <select
            name="add_category"
            js-channel-id="{{ subscription.snippet.resourceId.channelId }}"
            js-data-src="categories"
            style="margin-top: 10px; margin-bottom: 5px"
        >
            <option disabled selected>-- Select a Category --</option>
        </select>
        <button name="category_submit">Go</button>
    </div>
    <!-- {{subscription.snippet.resourceId.channelId}} -->

    {% if videos %}
    <div style="margin-bottom: 25px">
        <button
            class="js-video-list-toggle video-toggle"
            js-channelId="{{ subscription.snippet.resourceId.channelId }}"
        >
            Show Videos
        </button>
    </div>
    <ul
        class="formatted-list"
        style="display: none"
        id="js-video-list-{{ subscription.snippet.resourceId.channelId }}"
    >
        {% for video in videos.0.items %}
        <li>
            <img src="{{ video.snippet.thumbnails.default.url }}" />
            {{ video.snippet.title }} (Published:
            {{ video.snippet.publishedAt|date('m/d/Y') }})
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</li>
